### Variables 

##### Variables are names that hold some value. In prinicples of self-documenting code, we should ideally give names that suggest what the variable holds. There are both rules and conventions to naming. 

Rule #1: variable names cannot contain spaces or special characters in python, only letters, numbers, and underscores.
Rule #2: variables must start with a letter
Rule #3: variables cannot use reserved words (e.g., "for" or "in")

Convention #1: use variable names that provide insight into what the variable contains

##### We can't assign variables to values, we must assign values to variables. 

Python assigns variables with an equals sign while some other languages like R assign variables with different assignment operators ( <-)


##### Breaking programming rules 

One way to break programming rules would be by trying to use a variable that doesn't have a value assigned to it yet. If one were to do this, the computer would throw a "null pointer exception". In python, this will show as "NameError". 

We cannot assign values to one another either. 

You are able to assign `None` to variables. This will work differently than just not assigning values to variables (result in error).

### Data Types

When dealing with "132", we're treating the characters as text. We could print it, reverse it, survey the elements duplicate it, etc. If we were dealing with 132, we would only be able to do very different things (arithmetic operations). 

It is possible to convert between data types.

`str(variable)`: Takes as input some variables and returns a string representation of the variable's value. Every data type can be converted to some kind of string.

In [ ]:
# For example: 

MyNumber = 5 
print (type(MyNumber))
MyNumberAsString = str(MyNumber)
print(type(MyNumberAsString))

In [ ]:
# Another example (it should be noted that the date printed would already be a string due to implicit conversion): 

from datetime import date
myDate = date.today()
myDateAsString = str(myDate)
print(myDate)

##### When you put a value besides a string into Python's print function, it automatically tries to convert it to a string. It is an implicit conversion; Python will automatically call the string conversion function on whatever is put inside the parentheses if it wasn't already a string. Using the str() is manually doing that implicit conversion.

### Potential Issues Faced with String Conversions 

##### The STR function will work to singularly convert nearly any variable to some kind of string. But say we had the following complex code.

In [ ]:
from datetime import date 
myDate = date.today()
print("Today's date" + myDate)

##### The result of the above code is a TypeError. Remember that  print() intends to implicitly convert characters to a string and with this context (two different data types), it cannot make that conversion. 

There is value in including labels when trying to print. There are a number of ways to do this correctly.

In [4]:
# In any case, we'd need to tell the computer how to interpret dates, get today's date and store it in a variable, 
# then explicitly convert that variable to a string

from datetime import date 
mydate = date.today()
mydateasString = str(mydate)

#1. Print the two strings concatenated

print("Today's date: " + mydateasString)

#2. Instead of storing the date in a variable, include the code directly

mydateasString = str(date.today())
print("Today's date: " + mydateasString)

#3. String conversion inside the print statement 
mydate = date.today()
print("Today's date: " + str(mydate))

#4. Not assigning to a variable (what I would have done initially)
print("Today's Date: " + str(date.today()))

#5. Cleaing up the code.  
print("Today's Date:", date.today())

### Using the comma instead of the plus sign tells the computer to interpret each thing in the parentheses as an individual 
### piece of data. The comma will add a space and the print statement will implictly convert each thing a string if needed

Today's date: 2022-02-24
Today's date: 2022-02-24
Today's date: 2022-02-24
Today's Date: 2022-02-24
Today's Date: 2022-02-24

##### Just like we can convert to strings, we can convert to other data types. 

`int()`
`float()`
`bool()`

This can get complex and really depends on what data types you're trying to switch between. For example, if you had `myFloatAsString = "5.1"` and wanted to convert that to an integer to do math on it, you'd get a `ValueError: invalid literal for int() with base 10` when running int(). This is because under no circumstance can a float, 5.1, be a whole, real, natural number.

##### Legal conversions 

- float to int
- bool to/from anything **True if the value is non-zero, non-empty, and non-false.**
-

In [13]:
mybool = False 
myboolean = bool()
print(myboolean)

False

In [12]:
myint = int("5.1")
print(myint)

ValueError: invalid literal for int() with base 10: '5.1'

In [2]:
my_integer = 5 
my_string = "Hello"

print(my_integer * my_string)

HelloHelloHelloHelloHello

In [4]:
## Identify which lines of code will NOT work. 

## It is only "d = " because you cannot multpliy a string to yield a 
## fraction of that string. All of the rest work (however, the solution
## only states that c, e, and f work.)

my_integer = 5
my_float = 5.1
my_string = "Hello"
my_boolean = True
a = my_integer * my_float
b = my_integer * my_string
c = my_integer * my_boolean
d = my_float * my_string
e = my_float * my_boolean
f = my_string * my_boolean

TypeError: can't multiply sequence by non-int of type 'float'

In [5]:
## Example of NoneType
a = "Hello"
b = "world"
c = a + b
d = print(c)
print(d)

# print(c) was "Helloworld" just printing to the console. It did something
# rather than resolving to a value. There is no actual value for d to be
# assigned.

Helloworld
None